<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <h1>ADD A NEW RECIPE</h1>

    <form method="POST", action="">
        <ol>
            <div>Recipe Name: <input type="text" name="recipeName" id=""></div>
            <div>Ingredients: </div>
            <div><textarea name="ingredients" id="" cols="50" rows="15"></textarea></div>
            <div>Instructions:</div>
            <div><textarea name="instructions" id="" cols="50" rows="15"></textarea></div>

            <input type="submit" value="Add Recipe">
            

        </ol>
    </form>
</body>
</html>


<!-- TESTING TEMPLATE

    <nav>
        <ul> 
            {{#if user}}
            <li><a href="/add"> Add a Recipe</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            {{/if}}
            {{#else}}
            <li><a href="/auth/login">Login</a></li>
            {{/else}}
            <li><a href="/profile"> Profile</a></li>
            <li><a href="/">Homepage</a></li>
            
        </ul>
    </nav>

 -->